<div>
  <img src=<%= @flat.image_url %> alt="flat-img" class="banner-img">
</div>
<div class="container margin-top-negative" id="position-top">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h2> <b><%= @flat.name %></b> </h2>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>
      <div class="flat-show-card">
        <h3><b>A bit more about this flat</b></h3>
        <p> <%= @flat.description %> </p>
      </div>
    </div>
    <div class="col-4">
      <div class="flat-show-card">
        <h3><b>Details</b></h3>
        <p class="padding"> 👥 <%= @flat.number_of_guests %> 💲 <%= @flat.price_per_night %> </p>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x me-2"></i>
            <i class="fa fa-twitter-square fa-2x me-2"></i>
            <i class="fa fa-pinterest-square fa-2x me-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
